{% extends 'upperbase.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addedit.css') }}">

<form action="{{ url_for('add_module') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
{#{% if form.naimenovanie_modulya.errors %}#}
{#  {% for error in form.naimenovanie_modulya.errors %}#}
{#    <div class="alert alert-danger" role="alert">#}
{#            {{ error }}#}
{#            </div>#}
{#  {% endfor %}#}
{#{% endif %}#}

  <div class="form-floating">
        {{ form.naimenovanie_modulya(class="form-control", id="floatingInput") }}
      <label for="floatingInput">{{ form.naimenovanie_modulya.label() }}</label>
    </div>
{#    <div class="form-floating">#}
{#        {{ form.kod_sistemy(class="form-control, form-select", id="floatingInput") }}#}
{#      <label for="floatingInput">{{ form.kod_sistemy.label() }}</label>#}
{#    </div>#}
{#    <div class="form-floating">#}
{#    {{ form.kod_sistemy(class="form-control", id="id_datalist", list="id_datalist") }}#}
{#    <label for="id_datalist">{{ form.kod_sistemy.label }}</label>#}
{#    <datalist id="id_datalist">#}
{#        {% for system in systems %}#}
{#            <option value="{{ system.naimenovanie_sistemy }}">#}
{#        {% endfor %}#}
{#    </datalist>#}
{#</div>#}
<div class="form-floating">
    {{ form.kod_sistemy(class="form-control", id="floatingInput", list="id_datalist") }}
    <label for="id_datalist">{{ form.kod_sistemy.label }}</label>
    <datalist id="id_datalist">
        {% for system in systems %}
            <option value="{{ system.naimenovanie_sistemy }}">
        {% endfor %}
    </datalist>
</div>

    {{ form.submit(class="w-100 btn btn-lg btn-primary", type="submit") }}
</form>
{% endblock %}