{% extends 'upperbase.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tab.css') }}">
    <div class="ms-auto">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('add_useful_link') }}">
                    <button type="button" class="btn btn-primary">
                        <i class="bi bi-plus-lg"></i>
                        Добавить полезную ссылку</button>
                </a>
            </div>
                <div class="col">
                    <input id="searchInput" class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                </div>
            </div>
    </div>

    <div class="table-responsive">
        <table id="myTable" class="table table-sm table-hover align-middle">
        <thead>
            <tr class="table-active">
                <th><a href="{{ url_for('tab_useful_links', sort='id', order=order) }}">ID</a></th>
                <th><a href="{{ url_for('tab_useful_links', sort='poleznaya_ssilka', order=order) }}">Ссылка</a></th>
                <th>Копировать</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
        {% for useful_link in useful_links %}
          <tr>
            <td>{{ useful_link.id }}</td>
            <td id="answer{{ useful_link.id }}"><a target="_blank" href="{{ useful_link.poleznaya_ssilka }}">
                {{ useful_link.poleznaya_ssilka }}</a></td>
              <td>
            <button class="btn btn-link" onclick="copyToClipboard('answer{{ useful_link.id }}')">
                <i class="bi bi-clipboard"></i></button>
            </td>
              <td>
                  <a href="{{ url_for('edit_useful_link', id=useful_link.id) }}">
                      <button type="submit" class="btn btn-link">
                      <i class="bi bi-pen"></i></button></a></td>
            <td>
                <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#Modal{{ useful_link.id }}">
                    <i class="bi bi-x-lg"></i>
                </button></td>
                <div class="modal fade" id="Modal{{ useful_link.id }}" tabindex="-1" aria-labelledby="ModalLabel{{ useful_link.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="ModalLabel{{ useful_link.id }}">Удаление полезной ссылки {{ useful_link.id }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                      </div>
                      <div class="modal-body">
                        Вы уверены, что хотите удалить полезную ссылку {{ useful_link.id }}?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                          <form action="{{ url_for('delete_useful_link', id=useful_link.id) }}" method="post">
                        <button type="submit" class="btn btn-primary">Удалить</button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% include 'flash_message.html' %}
    </div>
{% endblock %}