{% extends 'upperbase.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/addedit.css') }}">

<form action="{{ url_for('add_user') }}" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
{#    {% if form.username.errors %}#}
{#      {% for error in form.username.errors %}#}
{#        <div class="alert alert-danger" role="alert">#}
{#            {{ error }}#}
{#            </div>#}
{#      {% endfor %}#}
{#    {% endif %}#}

  <div class="form-floating">
        {{ form.username(class="form-control", id="floatingInput") }}
      <label for="floatingInput">{{ form.username.label() }}</label>
    </div>
    <div class="form-floating">
        {{ form.fio(class="form-control", id="floatingInput") }}
      <label for="floatingInput">{{ form.fio.label() }}</label>
    </div>
    <div class="form-floating">
        {{ form.password(class="form-control", id="floatingPassword") }}
      <label for="floatingPassword">{{ form.password.label() }}</label>
    </div>
    <div class="form-check">
        {{ form.isAdmin(class="form-check-input", id="isAdminCheckbox") }}
        <label class="form-check-label" for="isAdminCheckbox">{{ form.isAdmin.label() }}</label>
    </div>

    {{ form.submit(class="w-100 btn btn-lg btn-primary", type="submit") }}

</form>
{% endblock %}